#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: black;
} 

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 39rem;
    background-size: cover;
}